html {
  font-size: 62.5%;
}

.page-container {
  display: flex;
  font-size: 16px;
}
.page-container .hero {
  padding-left: 11rem;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page-container .hero .title {
  width: 100%;
  gap: 2rem;
  margin-bottom: 2rem;
}
.page-container .hero .title h1 {
  font-size: 6rem;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.5rem;
}
.page-container .hero .title #typing-heading1 {
  color: #1eff05;
}
.page-container .hero .title #typing-heading2 {
  color: #13a8fe;
  padding-left: 12rem;
}
.page-container .hero .text p {
  font-size: 2rem;
  font-family: "Noto Sans", sans-serif;
  color: #fff;
}
.page-container .hero .pdf {
  text-align: center;
  padding: 1rem;
  border-radius: 0.8rem;
  background-color: #13a8fe;
  text-decoration: none;
  color: #fff;
  transition: transform 0.3s ease;
  margin-top: 3rem;
  font-family: "Noto Sans", sans-serif;
  display: none;
}
.page-container .hero .pdf:hover {
  background-color: #1eff05;
  transform: scale(1.1);
}
.page-container .discord {
  position: relative;
  width: 20%;
  height: 95vh;
  margin: 2rem 6rem 2rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 0 2rem 0 #fff;
}
.page-container .discord .section-one {
  background-color: transparent;
  height: 17rem;
}
.page-container .discord .section-one img {
  width: 100%;
  height: 10rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.page-container .discord .section-one .technology {
  position: relative;
  bottom: 9.5rem;
  width: 55%;
  left: 117px;
}
.page-container .discord .section-one .technology p {
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  margin-bottom: 0.5rem;
}
.page-container .discord .section-one .me-container {
  position: relative;
  bottom: 3rem;
  left: 1.5rem;
  border-radius: 50%;
  width: 9.5rem;
  height: 9.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-container .discord .section-one .me-container img {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
}
.page-container .discord .section-one .me-container .greenContainer {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  bottom: 1rem;
  right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-container .discord .section-one .me-container .greenContainer .greenPoint {
  background-color: #209912;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.page-container .discord .section-two {
  padding: 0 2rem;
  font-family: "Noto Sans", sans-serif;
  color: #fff;
}
.page-container .discord .section-two .state {
  display: flex;
  margin-top: 0.5rem;
}
.page-container .discord .section-two .state svg {
  margin-right: 0.5rem;
}
.page-container .discord .section-two .aboutMe {
  display: grid;
  gap: 0.8rem;
  margin-top: 1rem;
}
.page-container .discord .section-two .aboutMe P {
  font-size: 1.2rem;
}
.page-container .discord .section-two .aboutMe .game {
  display: flex;
}
.page-container .discord .section-two .aboutMe .game .img {
  width: 30%;
}
.page-container .discord .section-two .aboutMe .game .img img {
  width: 100%;
}
.page-container .discord .section-two .aboutMe .game .text {
  width: 60%;
  margin-left: 1rem;
}
.page-container .discord .section-two .aboutMe a {
  position: absolute;
  width: 85%;
  bottom: 1rem;
  background-color: #fff;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  transition: 0.5s;
  display: flex;
  justify-content: center;
}
.page-container .discord .section-two .aboutMe a span {
  background-color: transparent;
}
.page-container .discord .section-two .aboutMe a:hover {
  background-color: #13a8fe;
  color: #13a8fe;
  letter-spacing: 0.7rem;
  box-shadow: 0 0 3.5rem #13a8fe;
}
.page-container .discord .section-two .aboutMe a:hover i::before {
  width: 1rem;
  left: 20%;
}
.page-container .discord .section-two .aboutMe a:hover i::after {
  width: 1rem;
  left: 80%;
}
.page-container .discord .section-two .aboutMe a::before {
  content: "";
  position: absolute;
  inset: 0.2rem;
  background-color: #212121;
}
.page-container .discord .section-two .aboutMe a span {
  position: relative;
  z-index: 1;
}
.page-container .discord .section-two .aboutMe a i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 1rem;
  height: 0.4rem;
  background-color: #212121;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}
.page-container .discord .section-two .aboutMe a i::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 1rem;
  height: 0.4rem;
  background-color: #212121;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

@keyframes blinkCursor {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@media (max-width: 1080px) {
  .page-container .discord {
    margin: 1rem;
    width: 35%;
  }
  .page-container .discord .section-two {
    overflow: scroll;
    height: 57vh;
  }
  .page-container .discord .section-two::-webkit-scrollbar {
    width: 0.5rem;
    height: 0;
  }
  .page-container .discord .section-two::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }
}
@media (max-width: 768px) {
  .page-container {
    display: block;
  }
  .page-container .hero {
    width: 95%;
    padding-left: 9rem;
  }
  .page-container .hero .title h1 {
    font-size: 3.4rem;
  }
  .page-container .hero .title #typing-heading2 {
    padding-left: 8rem;
  }
  .page-container .hero .text p {
    font-size: 1.6rem;
  }
  .page-container .hero .pdf {
    display: initial;
  }
  .page-container .discord {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */